@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Cinzel+Decorative:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
header {
    background-color: #7c5b9c;
    height: 80px;
    width: 100%;
    position: relative;
}
h1 {
    position: absolute;
    top: 0;
    color:white;
    line-height: 80px;
    margin-left: 5vw;
}
header ul{
    list-style-type: none;
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;

}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #d1c4e9;
}
header li{
    display: inline-block;
    margin-right:2vw;
    font-size: 18px;
}

.catalogHeader{
    padding: 32px 20px; 
    text-align: center;
    background: linear-gradient(180deg, #6a4b8d 0%, #5a3b7a 100%);
    max-width: 1200px; 
    margin: 0 auto 28px; 
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.45);
    color: #f7eefc;
    border: #fae370 8px ridge;
    border-radius: 10px;
}


.catalogHeader h2{
    font-family: 'IM Fell English SC','Cinzel Decorative', Georgia, 'Times New Roman', serif; 
    font-size: 2.5rem;
    margin-bottom: 8px;
    color: #efe1b8; 
    letter-spacing: 3.0px;
    font-weight: 400;
    text-shadow: 0 2px 0 rgba(0,0,0,0.55), 0 6px 20px rgba(0,0,0,0.28);
}

footer{
    background-color: hsla(0, 0%, 0%, 0.858);
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}